/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0e7e7;
  text-align: center; /* Центрирование текста */
}

h2 {
  color: #333;
  margin-bottom: 2rem; /* Добавлено нижнее поле для отступа */
}

.input-group {
  margin: 1rem auto; /* Центрирование группы ввода */
  display: flex;
  justify-content: center; /* Центрирование элементов внутри группы */
}

.input-group label {
  margin-right: 0.5rem;
}

.input-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-right: 1rem; /* Добавлено правое поле для отступа */
}

button {
  display: block;
  width: 200px;
  padding: 1rem;
  margin: 2rem auto; /* Увеличен верхний и нижний отступы */
  border: none;
  border-radius: 0.3rem;
  background: #986acc;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #2980b9; /* Замените на желаемый цвет */
  transform: scale(1.1); /* Увеличение размера */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Возвращение к исходному размеру при нажатии */
button:active {
  \transform: scale(1); /* Возврат к исходному размеру */
  \transition: transform 0.1s ease;
}
/* Определение ключевых кадров для анимации вибрации */
@keyframes vibrate {
  0%, 100% { transform: translate(0); }
  
  100% { transform: translate(-50px, -50px -50px -50px); }
}


/* Стили для карточек Таро */
#tarot-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.p {
  display: inline-block; /* Блочно-строчное отображение */
  padding: 10px 20px; /* Внутренние отступы */
  margin: 5px; /
  background: #333

}
.tarot-card {
  width: calc(33.333% - 2rem);
  margin: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 1.0rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: clip;
}

.tarot-card strong {
  display: block;
  padding: 1.0rem;
  background: #333;
  color: white;
  text-align: center; /* Центрирование заголовка карточки */
}

.tarot-image {
  width: 100%;
  height: auto;
}

.tarot-description {
  padding: 1.0rem;
  color: #666;
}

/* Стили для текста и ссылок после расчета */
#result-text {
  
}
#result-links {
  text-align: center; /* Выравнивание содержимого по центру */
  padding: 20px; /* Отступы со всех сторон */
  display: block; /* Блочный тип отображения для возможности выравнивания */
  overflow: hidden; /* Обрезка содержимого, выходящего за границы */
  white-space: nowrap; /* Запрет на перенос строк */
}

/* Стили для всех ссылок внутри элемента с id="result-links" */
#result-links a {
  display: inline-block; /* Блочно-строчное отображение */
  padding: 10px 20px; /* Внутренние отступы */
  margin: 5px; /* Внешние отступы */
  text-decoration: none; /* Убрать подчеркивание */
  color: white; /* Цвет текста */
  background-color: #986acc; /* Фоновый цвет */
  border: none; /* Убрать границу */
  border-radius: 5px; /* Скругление углов */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

/* Стили для ссылок при наведении курсора мыши */
#result-links a:hover {
  background-color: #2980b9; /* Темный фон при наведении */
}




/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column; /* Элементы группы ввода будут располагаться вертикально */
    align-items: center; /* Центрирование элементов по горизонтали */
  }

  .input-group label,
  .input-group input {
    width: 90%; /* Полная ширина для лучшей видимости */
    margin: 0.5rem 0; /* Отступы сверху и снизу для разделения элементов */
  }

  button {
    width: 90%; /* Кнопка на полную ширину */
  }

  .tarot-card {
    width: calc(100% - 2rem); /* Карточки Таро на полную ширину */
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem; /* Уменьшенный размер шрифта для заголовка */
  }

  #result-links a {
    padding: 8px 16px; /* Уменьшенные внутренние отступы */
    font-size: 14px; /* Уменьшенный размер шрифта */
  }
}



