/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0e7e7;
  text-align: center; /* Центрирование текста */
}

h2 {
  color: #333;
  margin-bottom: 2rem; /* Добавлено нижнее поле для отступа */
}

.input-group {
  margin: 1rem auto; /* Центрирование группы ввода */
  display: flex;
  justify-content: center; /* Центрирование элементов внутри группы */
}

.input-group label {
  margin-right: 0.5rem;
}

.input-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-right: 1rem; /* Добавлено правое поле для отступа */
}

button {
  display: block;
  width: 200px;
  padding: 1rem;
  margin: 2rem auto; /* Увеличен верхний и нижний отступы */
  border: none;
  border-radius: 0.3rem;
  background: #986acc;
  color: white;
  cursor: pointer;
}

/* Стили для карточек Таро */
#tarot-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.tarot-card {
  width: calc(33.333% - 2rem);
  margin: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 1.0rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: clip;
}

.tarot-card strong {
  display: block;
  padding: 1.0rem;
  background: #333;
  color: white;
  text-align: center; /* Центрирование заголовка карточки */
}

.tarot-image {
  width: 100%;
  height: auto;
}

.tarot-description {
  padding: 1.0rem;
  color: #666;
}

/* Стили для текста и ссылок после расчета */
#result-text,
#result-links {
  text-align: center; /* Выравнивание содержимого по центру */
  padding: 20px; /* Отступы со всех сторон */
  display: block; /* Блочный тип отображения для возможности выравнивания */
  overflow: hidden; /* Обрезка содержимого, выходящего за границы */
  white-space: nowrap; /* Запрет на перенос строк */
}

#result-links a {
  display: inline-block; /* Инлайн-блочный тип отображения для ссылки */
  margin: 0 auto; /* Автоматические отступы слева и справа для центрирования */
  text-decoration: none; /* Убрать подчеркивание текста ссылки */
  padding: 10px 15px; /* Отступы внутри ссылки */
  border: 1px solid #007bff; /* Граница вокруг ссылки */
  border-radius: 4px; /* Скругление углов границы */
  background-color: #007bff; /* Фоновый цвет ссылки */
  color: white; /* Цвет текста ссылки */
}

#result-links a:hover {
  background-color: #0056b3; /* Фоновый цвет ссылки при наведении */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .tarot-card {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  .tarot-card {
    width: calc(100% - 2rem);
  }
}



#result-links {
  overflow: auto; /* Добавляет прокрутку, если содержимое выходит за границы */
}
